<h1>Edit Your Playdate</h1>
<!-- <p>{{editedPlaydate.child}}</p>
<p>{{editedPlaydate.friend}}</p>
<p>{{editedPlaydate.date}}</p> -->
<input type="text" name="" ng-model="editedPlaydate.child">
<input type="text" name="" ng-model="editedPlaydate.friend">
<input type="date" class="datepicker" name="pickTheDate" ng-model="newPlaydate.date">




<button class ="btn waves-effect waves-light" ng-click="editSinglePlaydate()">Submit</button>

<!-- <button class="btn waves-effect waves-light"><a ng-href="playdate/edit/{{selectedItem.id}}">Edit</a></button> -->
<!-- <h2>Assigned To: {{selectedItem.assignedTo}}</h2>
<h2>Completed?: {{selectedItem.isCompleted}}</h2>
 -->





















<!-- <h1>Edit Your Playdate</h1>
<div class="row">
  <div class="input-field col s6">
    <input ng-model="newPlaydate.yourChild" id="yourChildsName" type="text" class="validate">
    <label for="yourChildsName">Your Child</label>
	</div>
	<div class="input-field col s6">
    <input ng-model="newPlaydate.friendChild" id="friendsChildName" type="text" class="validate">
    <label for="friendsChildName">Your Friend</label>
	</div>
		<div class="input-field col s6">
		<input ng-model="newPlaydate.date" id="pickTheDate" class="datepicker" type="string">
	</div>
	  <button ng-click="addNewPlaydate()" class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</div> -->