
<h1>Create a Playdate</h1>
<div class="row">
  <div class="input-field col s6">
    <input ng-model="newPlaydate.yourChild" id="yourChildsName" type="text" class="validate">
    <label for="yourChildsName">Your Child</label>
	</div>
	<div class="input-field col s6">
    <input ng-model="newPlaydate.friendChild" id="friendsChildName" type="text" class="validate">
    <label for="friendsChildName">Your Friend</label>
	</div>
<!-- 	<div class="date">
  <md-datepicker ng-model="newPlaydate.date()" md-placeholder="Enter date"></md-datepicker>
</div> -->



	<div class="input-field col s6">
		<input ng-model="newPlaydate.date" id="pickTheDate" class="datepicker" type="date">
	</div>
	  <button ng-click="addNewPlaydate()" class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</div>

<!-- <div ng-controller="AppCtrl" ng-cloak>
  <md-content layout-padding>

    <div layout-gt-xs="row">
      <div flex-gt-xs>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
      </div>
 -->












<!-- <h3>New Todo</h3>
<form>
    <div class="form-group">
        <label>Task Description</label>
        <input type="text" class="form-control" id="add-todo-text" placeholder="New Todo Item" ng-model="newTask.task">
    </div>
    <div class="form-group">
        <label>Assigned To</label>
        <input type="text" class="form-control" id="add-todo-text" placeholder="New Todo Item" ng-model="newTask.assignedTo">
    </div>
    <button type="button" class="btn btn-primary btn-lg col-xs-2 " ng-click="addNewItem()">New Todo</button>
</form> -->